* {
    /* font-family: 'Arima Madurai', sans-serif; */
    
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  }
  
  /* nav { */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    /* display: inline-flex; */
   
  /* } */

  #iconBellNotify {
    position: absolute;
    background-color: #0366d6;
    right: 3px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .navigation {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
  }
  
  .brand {
    flex: 1;
    margin: 0 25px;
  }
  
  .menu {
    display: flex;
    list-style:none;
    margin-right: 25px;
  }
  
  .menu li a {
    color: inherit;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .menu li a:hover {
    text-decoration: underline;
  }
  
  .search {
    position: relative;
    padding-bottom: 15px;
    bottom: -7px;
  }
  
  .search-input::placeholder {
    color: white;
    opacity: 0.8;
  }
  
  .search-input {
    height: 0px;
    border:none;
    position: absolute;
    left: -200px;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    background: #5747e1;
    color: white;
    padding: 6px;
    font-size: 12px;
    outline: none;
    width: 220px;
    transition: 80ms all ease-in;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
  }
  
  .search-button {
    background:transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
  }
  
  .search-button:hover + .search-input, .search-input:hover, .search:hover .search-input {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 9 !important;
    box-shadow: 1px 3px 4px #E6E6E6;
    height: 25px !important;
  }


  .responsiveImg {
    width: 100%;
    max-width: 30px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .brand a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    font-size: 14px;
  }

  .brand img{
    float: left;
    display: block;
    color: white;
    text-decoration: none;
  }

  /* search inputs */

  /* Style the search box inside the navigation bar */
.brand form.formS input[type=text] {
    float: left;
    padding: 8px;
    /* border: none; */
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 12px;
    width: 90%;
    background-color: #24292e;
    border-radius: .25rem;
    color: var(--color-text-white);
    border: 1px solid #d1d5da;


  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .brand form.formS input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 80%;
      margin: 0;
      padding: 14px;
      background-color: var(--color-header-search-bg);
    border-radius: .25rem;
    color: var(--color-text-white);
    /* border: 1px solid var(--color-header-search-border); */


    }

    div#myLinks form.formS input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 80%;
      margin: 0;
      padding: 14px;
      background-color: var(--color-header-search-bg);
    border-radius: .25rem;
    color: var(--color-text-white);
    /* border: 1px solid var(--color-header-search-border); */


    }

    .brand form.formS input[type=text] {
      border: 1px solid #ccc;
    }

    div#myLinks form.formS input[type=text] {
      border: 1px solid #ccc;
    }
  }

  .posRel{
    position: relative;
  }

  .relCss {
      /* use for default value set to flex: auto  when click on */
      /* flex: auto;    */
       /* use for default value set to min-width: unset when click on  */
    /* min-width: unset;  */

    flex: unset;   
    min-width: 22vw;  
    
      padding-right: 18px;
    margin-top: 3px;
  }

  .brand form #searchIcon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 20%;
    height: 2.375rem;
    line-height: 3.0rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0;
  }
  .parentFlex{    display: flex;}
  #slashIcon{
    width: 100%;
    padding-top: 11px;
  }

/* for hexadecimal with num & character <span id="bellIcon"> &#x1F514</span> */
/* for decimal with num only that change<span id="bellIcon"> &#9658</span> */
  
#bellIcon{
    font-size: 10px;
    /* color: aqua !important; */
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 128, 0);
  }

  #drop-icon{
    font-size: 15px;
    position: absolute;
    top: 13px;
    /* color: aqua !important; */
    color: transparent;
    text-shadow: 0 0 0 rgb(255,255,255)
  }

   /* {
    margin-left: 0px !important;
    margin-right: 0px !important;
   } */

   form.formS a{
    padding-top: 16px;
    padding-bottom: 16px;
   }
   ul.menu li#bellicon {
    margin-top: 15px;
   }

   ul.menu li#plusIcon {
    margin-top: 2px;
    margin-right:5px;
    margin-left: 5px;
   }

   ul.menu li#profileIcon {
    margin-top: 2px;
    margin-right:5px;
    margin-left: 5px;
   }

   .mt2 {margin-top: 2px;}

   div.navigation ul.menu {
    margin-top: 0px;
    margin-bottom: 0px;
   }

   .fz5{font-size: 0.5rem;}
.fz65{font-size: 0.65rem;}
   .profileAvail{
     margin: 5px 10px;
    border: 1px solid rgb(207,208,209);
  }
   
    .contentCenter{
      justify-content: center;
    align-items: center;
    }

    div.workStatus {
      white-space: nowrap; 
      width: 100px; 
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    
    div.workStatus:hover {
      overflow: visible;
    }


    /* for small navbar display */
    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-y: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      /* text-align: center;
      margin-top: 30px; */
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    
    @media screen and (max-height: 450px) {
      .overlay {overflow-y: auto;}
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }
  
    @media only screen and (max-width: 768px) {
        .brand {
          display: none;
        }
         #mobileIconBellNotify{
          position: absolute;
          background-color: #0366d6;
          right: 3px;
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
         }
        #brandnav { display: none;}
        .stateDisp{display: none;}
        .stateDispB{display: none;}
        .mobileBrand {
          display: block;
          flex:1;
        }
        .navigation {
          display: none;
        }

        div#myLinks #headContainerF .fz65{
          color: #f1f1f1;
          margin: 10px 0px;
          /* font-size: 0.75rem !important; */
          font-size: 14px !important;
          text-decoration: none;
          font-weight: 400;
        }

        div#myLinks .headContainer .fz65{
          color: #f1f1f1;
          margin: 10px 0px;
          /* font-size: 0.75rem !important; */
          font-size: 14px !important;
          text-decoration: none;
          font-weight: 400;
        }

        
          div#myLinks #mobileImg {
            margin: 10px 8px;
    display: flex;
          }

          div#myLinks form #searchIcon {
            position: absolute;
            z-index: 2;
            display: block;
            width: 20%;
            height: 2.375rem;
            line-height: 3.0rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
            right: 0;
          }

          div#myLinks form.formS input[type=text] {
            float: left;
            padding: 8px;
            /* border: none; */
            margin-top: 8px;
            margin-right: 16px;
            margin-left: 16px;
            font-size: 12px;
            width: 90%;
            background-color: var(--color-header-search-bg);
            border-radius: .25rem;
            color: var(--color-text-white);
            border: 1px solid var(--color-header-search-border);
        
        
          }
    }

    @media only screen and (min-width: 769px) {
      .mobileBrand {
        display: none;
      }
      .stateDisp{display: flex;}
      .stateDispB{display: block;}
      #brandnav { display: flex;
        height: 50px;
    
        background:#24292e;
        color: white;
        box-shadow: 1px 3px 4px #E6E6E6;
        align-items: center;
      }
  }

    div.mobileBrand .parentFlex .fz65 {
      color: #f1f1f1;
      margin: 10px 8px;
    }
    div.parentFlex #iconMenuMobile{
      flex: 1;
    margin: 5px 8px;
    }

    .fr{float: right}


    /* mobile container */
    .mobile-container {
      /* max-width: 480px; */
      margin: auto;
      background-color: #555;
      /* height: 500px; */
      color: white;
      border-radius: 10px;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav div {
      color: white;
      /* padding: 14px 16px; */
      text-decoration: none;
      font-size: 17px;
      /* display: block; */
    }
    
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* .active {
      background-color: #4CAF50;
      color: white;
    } */
    
    .ml10{margin-left: 10px;}

    .mobileSearch {
      margin: 5px 10px !important;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    }

    #mobileInputSearch {
      padding: 8px;
    width: 100%;
    font-size: 12px;
    width: 100%;
    background-color: var(--color-header-search-bg);
    border-radius: .25rem;
    color: var(--color-text-white);
    border: 1px solid var(--color-header-search-border);
    }

    div#myLinks .headContainer{
      margin: 10px 10px;
    /* border-top: 1px solid #cfd0d1; */
    border-bottom: 1px solid #cfd0d1;
    padding: 5px 0px;
    }
    #headContainerF {
      margin: 10px 10px;
    border-top: 1px solid #cfd0d1;
    border-bottom: 1px solid #cfd0d1;
    padding: 5px 0px;
    }

    /* {
      color: #f1f1f1;
          margin: 10px 0px;
        
          font-size: 14px !important;
          text-decoration: none;
    } */

    
    